<div id="<%= dom_id customer %>">
  <th scope="row">
    <%= customer.name %>
  </th>

 <th scope="row">
    <%= customer.email %>
  </th>

  <th scope="row">
    <%= customer.typesofclient.name %>
  </th>

</div>
